.top-menu {
  box-shadow: none;
  border: none;
  background: white;
  top: 0;
  left: 0;
  font-size: 11px;
}

.bar {
  width: 20px;
}
.main-background {
  background: url('//cdn.shopify.com/s/files/1/0156/6146/files/Hompage_hero_1-min_8289a41b-05db-4b96-9a3f-7dd9b2256485_1900x.jpg?v=1538383416');
  background-size: cover;
  height: 800px;
  margin-top: 50px;
}



.logo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  float: left;

}

.footer-logo {
  width: 40px;
  height: 40px;
}

.inside {
  margin-left: 20px;
}